<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard - Service Tracker</title>

    <% include ./partials/header.ejs %>
</head>

<body>

<section class="hero is-dark is-bold">
    <div class="hero-head">
        <nav class="navbar" role="navigation">
            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <span class="button is-info is-outlined">New Service</span>
                    </div>

                    <div class="navbar-item" title="Change theme!">
                        <span class="button is-info is-outlined">
                            <i class="fas fa-bars"></i>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="columns">
            <div class="column has-text-centered">
                <span class="icon is-large">
                    <i class="fab fa-2x fa-connectdevelop"></i>
                </span>
                <p class="title is-4">❮ Know who uses your services ❯</p>
            </div>

            <div class="column has-text-centered">
                <h1 class="title is-2" style="border-bottom: 2px solid; padding-bottom: 10px;">« Service Tracker »</h1>
            </div>


            <div class="column has-text-centered">
                <span class="icon is-large">
                    <i class="fas fa-2x fa-database"></i>
                </span>
                <p class="title is-4">❮ Easy to view stats ❯</p>
            </div>

            </nav>
    </div>
</section>

<% if(services.length === 0){ %>
<div class="notification is-danger has-text-centered">
    <b>~ There are no services registered to record active sessions! ~</b>
</div>
<% } else for (let x = 0; x < services.length; x++) { %>

<section id="<%- services[x].name %>" class="section">
    <h1 class="title"><%- services[x].name %></h1>
</section>

<% } %>

<% include ./partials/footer.ejs %>

</body>
</html>